<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoci.share.store.dao.CommentDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.zhaoci.share.store.po.Comment">
        <result column="id" property="id"/>
        <result column="customerId" property="customerId"/>
        <result column="taleId" property="taleId"/>
        <result column="comment" property="comment"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		id, customerId, taleId, comment, createDate, updateDate
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND id = #{id}
		</if>
		<if test="customerId != null and customerId != '' ">
		AND customerId = #{customerId}
		</if>
		<if test="taleId != null and taleId != '' ">
		AND taleId = #{taleId}
		</if>
		<if test="comment != null and comment != '' ">
		AND comment = #{comment}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND createDate = #{createDate}
		</if>
		<if test="updateDate != null and updateDate != '' ">
		AND updateDate = #{updateDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND id = #{params.id}
		</if>
		<if test="params.customerId != null and params.customerId != '' ">
		AND customerId = #{params.customerId}
		</if>
		<if test="params.taleId != null and params.taleId != '' ">
		AND taleId = #{params.taleId}
		</if>
		<if test="params.comment != null and params.comment != '' ">
		AND comment = #{params.comment}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND createDate = #{params.createDate}
		</if>
		<if test="params.updateDate != null and params.updateDate != '' ">
		AND updateDate = #{params.updateDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM COMMENT 
	     WHERE id = #{id}     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM COMMENT
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM COMMENT
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.zhaoci.share.store.po.Comment">
        INSERT INTO COMMENT (
        	id,
        	customerId,
        	taleId,
        	comment,
        	createDate,
        	updateDate
        ) VALUES (
        	#{id},
        	#{customerId},
        	#{taleId},
        	#{comment},
        	#{createDate},
        	#{updateDate}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM COMMENT 
		 WHERE id = #{id} 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.zhaoci.share.store.po.Comment">
        UPDATE COMMENT 
		SET
	        customerId = #{customerId},
	        taleId = #{taleId},
	        comment = #{comment},
	        createDate = #{createDate},
	        updateDate = #{updateDate}
        WHERE id = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE COMMENT
			<set>
    	        customerId = #{item.customerId},
    	        taleId = #{item.taleId},
    	        comment = #{item.comment},
    	        createDate = #{item.createDate},
    	        updateDate = #{item.updateDate}
			</set>
            WHERE id = #{item.id} 	
		</foreach>
	</update>
</mapper>