<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoci.share.story.dao.TaleTypeDao">
	
	<!-- 列结果resultMap zhaoci 2016-01-03 -->
	<resultMap id="resultMap" type="com.zhaoci.share.story.po.TaleType">
        <result column="id" property="id"/>
        <result column="tale_id" property="taleId"/>
        <result column="type_id" property="typeId"/>
        <result column="is_used" property="isUsed"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
	</resultMap>

	<!-- 公共列 zhaoci 2016-01-03 -->
	<sql id="columns">
		id, tale_id, type_id, is_used, createDate, updateDate
	</sql>

	<!-- 公共条件 zhaoci 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND id = #{id}
		</if>
		<if test="taleId != null and taleId != '' ">
		AND tale_id = #{taleId}
		</if>
		<if test="typeId != null and typeId != '' ">
		AND type_id = #{typeId}
		</if>
		<if test="isUsed != null and isUsed != '' ">
		AND is_used = #{isUsed}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND createDate = #{createDate}
		</if>
		<if test="updateDate != null and updateDate != '' ">
		AND updateDate = #{updateDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL zhaoci 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND id = #{params.id}
		</if>
		<if test="params.taleId != null and params.taleId != '' ">
		AND tale_id = #{params.taleId}
		</if>
		<if test="params.typeId != null and params.typeId != '' ">
		AND type_id = #{params.typeId}
		</if>
		<if test="params.isUsed != null and params.isUsed != '' ">
		AND is_used = #{params.isUsed}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND createDate = #{params.createDate}
		</if>
		<if test="params.updateDate != null and params.updateDate != '' ">
		AND updateDate = #{params.updateDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 zhaoci 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_TALE_TYPE 
	     WHERE id = #{id}     
	</select>

	<!-- 查询列表 zhaoci 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_TALE_TYPE
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 zhaoci 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_TALE_TYPE
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<!-- 插入 zhaoci 2016-01-03 -->
	<insert id="insert" parameterType="com.zhaoci.share.story.po.TaleType">
        INSERT INTO T_TALE_TYPE (
        	id,
        	tale_id,
        	type_id,
        	is_used,
        	createDate,
        	updateDate
        ) VALUES (
        	#{id},
        	#{taleId},
        	#{typeId},
        	#{isUsed},
        	#{createDate},
        	#{updateDate}
        )
	</insert>

	<!-- 根据主键ID删除 zhaoci 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_TALE_TYPE 
		 WHERE id = #{id} 
	</delete>

	<!-- 更新 zhaoci 2016-01-03 -->
	<update id="update" parameterType="com.zhaoci.share.story.po.TaleType">
        UPDATE T_TALE_TYPE 
		SET
	        tale_id = #{taleId},
	        type_id = #{typeId},
	        is_used = #{isUsed},
	        createDate = #{createDate},
	        updateDate = #{updateDate}
        WHERE id = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_TALE_TYPE
			<set>
    	        tale_id = #{item.taleId},
    	        type_id = #{item.typeId},
    	        is_used = #{item.isUsed},
    	        createDate = #{item.createDate},
    	        updateDate = #{item.updateDate}
			</set>
            WHERE id = #{item.id} 	
		</foreach>
	</update>
</mapper>